BasedOnStyle: LLVM
BreakBeforeBraces: Allman
IndentWidth: 4
AccessModifierOffset: -4
ContinuationIndentWidth: 4
ColumnLimit: 0
AlignAfterOpenBracket: false

PointerAlignment: Left
ReflowComments: true
MaxEmptyLinesToKeep: 1
AlwaysBreakTemplateDeclarations: Yes
AllowShortLambdasOnASingleLine: None
LambdaBodyIndentation: OuterScope
Cpp11BracedListStyle: false
SortIncludes: false
NamespaceIndentation: All